
i {
  background-color: rgb(var(--primary-color));
  border-radius: 50%;
  cursor: pointer;
  --ggs: 1.5;

  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: rgba(var(--primary-color), 0.8);
    backdrop-filter: blur(10px);
  }
}
