@import url("./icons.css");
:root {
  --primary-color: 31, 31, 31;
  --secondary-color: 43, 45, 48;
  --tertiary-color: 231, 231, 231;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

body {
  background-color: rgb(var(--primary-color));
  color: rgb(var(--tertiary-color));
  padding: 0 1em;
}
body::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-track {
  background-color: rgba(var(--secondary-color), 0.8);
  border-radius: 1em;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(var(--tertiary-color));
  border-radius: 1em;
}

a {
  color: inherit;
}

nav {
  position: sticky;
  padding: 0.2em;
  top: 1em;
  left: 0.5em;
  color: rgb(var(--tertiary-color));
  display: flex;
  justify-content: center;
  gap: 1em;
}
nav .nav__section {
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em 1em;
  background-color: rgba(var(--secondary-color), 0.8);
  border-radius: 0.5em;
  box-shadow: 0 0 0.1em rgba(var(--tertiary-color), 0.5);
}
nav .nav__section ul {
  padding: 0.2em;
  margin: 0 1em;
  gap: 1em;
  display: flex;
  align-items: center;
}
nav .nav__section ul li {
  list-style: none;
}
nav .nav__section ul li a {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
}
nav .nav__section ul li a:hover {
  border-bottom: 2px solid rgb(var(--tertiary-color));
}

.title {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0) 18.75%, rgb(40, 117, 141) 31.25%, rgba(0, 0, 0, 0) 31.25%), repeating-linear-gradient(45deg, rgb(34, 109, 133) -6.25%, rgb(38, 40, 141) 18.75%);
  border-radius: 1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h2 {
  color: rgb(var(--tertiary-color));
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0;
}

.hero {
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(10px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}
.hero h1 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.2em;
}
.hero h2 {
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 0.5em;
}
.hero:before {
  content: "";
  position: absolute;
  width: calc(100% - 2em);
  height: calc(100% - 2em);
  background-size: 100% 100%;
  background-position: 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), radial-gradient(18% 28% at 24% 50%, #cefaff 7%, rgba(7, 58, 255, 0) 100%), radial-gradient(18% 28% at 18% 71%, rgba(255, 255, 255, 0.3490196078) 6%, rgba(7, 58, 255, 0) 100%), radial-gradient(70% 53% at 36% 76%, #73f2ff 0%, rgba(7, 58, 255, 0) 100%), radial-gradient(42% 53% at 15% 94%, white 7%, rgba(7, 58, 255, 0) 100%), radial-gradient(42% 53% at 34% 72%, white 7%, rgba(7, 58, 255, 0) 100%), radial-gradient(18% 28% at 35% 87%, white 7%, rgba(7, 58, 255, 0) 100%), radial-gradient(31% 43% at 7% 98%, white 24%, rgba(7, 58, 255, 0) 100%), radial-gradient(21% 37% at 72% 23%, rgba(211, 255, 109, 0.6117647059) 24%, rgba(7, 58, 255, 0) 100%), radial-gradient(35% 56% at 91% 74%, rgba(138, 79, 255, 0.9607843137) 9%, rgba(7, 58, 255, 0) 100%), radial-gradient(74% 86% at 67% 38%, rgba(109, 255, 174, 0.9607843137) 24%, rgba(7, 58, 255, 0) 100%), linear-gradient(125deg, #4eb5ff 1%, #4c00fc 100%);
  margin: auto;
  border-radius: 4em;
  filter: brightness(0.8);
  z-index: -1;
}

.underline {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: rgb(var(--tertiary-color));
  text-decoration-thickness: 0.1em;
}

main {
  min-height: 100vh;
  max-width: 1000px;
  margin: 1em auto;
}

.main__section {
  background-color: rgba(var(--secondary-color), 0.8);
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 1em;
}
.main__section .main__title {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.main__section .main__text {
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.feature__grid {
  background-color: rgba(var(--secondary-color), 0.8);
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
}
.feature__grid .feature__title {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.feature__grid .feature__item {
  background-color: rgba(var(--primary-color), 0.8);
  border-radius: 1em;
  padding: 1em;
  transition: 0.2s;
}
.feature__grid .feature__item:hover {
  background-color: rgba(var(--secondary-color), 1);
}

.banner {
  position: fixed;
  bottom: 1em;
  left: 1em;
  padding: 0 1em;
  border-radius: 1em;
  z-index: 1000;
  backdrop-filter: blur(10px);
  background-color: yellow;
  color: black;
  text-align: center;
  margin: 0 auto;
}

/*# sourceMappingURL=index.css.map */
